@model ChatVM
<head>
    <link rel="stylesheet" href="~/css/chat.css" />
</head>
<div class="message-wrap">
    <div class="receiver-info">
        <div class="first-letter">
            @* Get first letter of user name to display as a image *@
            @Model.RecevierUserName.Substring(0, 1).ToUpper()
        </div>
        <h3>@Model.RecevierUserName</h3>
    </div>

    <div class="messages-box">
        @foreach (var item in Model.Messages)
        {
            if (item.IsCurrentUserSentMessage)
            {
                @* Current user message *@
                <div class="message sent-message">
                    <p>@item.Text</p>
                    <span>@item.Date @item.Time</span>
                </div>
            }
            else
            {
                @* Receiver message *@
                <div class="message received-message">
                    <p>@item.Text</p>
                    <span>@item.Date @item.Time</span>
                </div>
            }
        }
    </div>

    <div class="send-message-box">
        <textarea rows="4" class="message-field" placeholder="Type your message"></textarea>
        <button id="send-btn" class="btn btn-dark">Send</button>
    </div>

    <div id="chat-data" data-current-user-id="@Model.CurrentUserId" data-receiver-id="@Model.RecevierId"></div>

</div>
<div id="chat-data" data-current-user-id="@Model.CurrentUserId" data-receiver-id="@Model.RecevierId"></div>

@section Scripts {
    <script src="~/js/chat.js"></script>
}